.vercel
.env*.local
.env*.example
.env.example
.env.*
*.env

AGENTS.md
CLAUDE.md

.claude/*
skills-lock.json

pure-media-architecture.*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

server/aws-elastic-beanstalk-cli-setup
*.cpython-314.pyc
.env*

*.mov