.vercel
.env*.local
.env*.example
*.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

server/aws-elastic-beanstalk-cli-setup
*.cpython-314.pyc